header {
    height: 50px;
    line-height: 50px;
}
.container {
    display: flex;
    
}

.list_sx, .nav-list{
    display: flex;
}


.list_sx li{
    margin-right: 20px;
    text-transform: uppercase;
}

.logo {
    height: 50px;
    vertical-align: middle;
}

/* CLASS UNIX */

.menu, .dropdown-list, .list_sx li {
    list-style: none;
}


/* CLASS UNIX */

.nav_dx {
    margin-left: auto;
}


.nav-list li {
    position: relative;
}

.list_sx, .nav-list {
    display: flex;
}


.dropdown-list {
    position: absolute;
    display: none;
    white-space: nowrap;
    padding: 10px 10px;
    line-height: 40px;
    box-shadow: 0 0 10px #aaaaaa;
}


.menu {
    margin-right: 15px;
}

.menu a:hover{
    color:magenta;
}



.btn {
    padding: 15px;
    border-radius: 15px;
    color: #fff;
    background-color: #EB008D;

}