.container {
    display: flex;
}

.nav_sx, .nav_dx {
    display: flex;
    align-items: center;
    margin-top: 20px;;
}

.logo {
    height: 50px;
    vertical-align: middle;
}

.menu, .list_sx li{
    align-content: center;
    display: inline-block;
    text-decoration: none;
}


.dropdown-list {
    display: none;
}

.menu {
    margin-right: 15px;
}

.menu a:hover{
    color:magenta;
}